@media screen and (max-width: 991px) {
  .menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #000;
    transform: translateY(-100%);
    transition: all 0.3s linear;
    z-index: 100;
    color: #fff;
    flex-direction: column;
    justify-content: center;
  }

  .menuToggle .menu-bar {
    transform: translateX(0);
    z-index: 100;
    justify-content: flex-start;
  }

  .menu-bar ul {
    flex-direction: column;
    z-index: 50;
  }

  .menu-bar ul li a {
    color: #fff;
    text-align: left;
    font-size: 12px;
    line-height: 10px;
    font-weight: 400;
  }

  .menu-bar ul li a.active {
    color: #0097d2;
  }

  .wedsite-header-wrapper {
    justify-content: space-between;
    flex-direction: row;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    color: #fff;
    text-align: end;
  }

  .banner-image {
    height: 450px;
  }

  .banner-text h1 {
    font-size: 60px;
  }

  .banner-text h2 {
    font-size: 26px;
    max-width: 700px;
    margin: 0px auto;
  }

  .logo-top img {
    width: 80%;
    vertical-align: middle;
  }

  .home-page-cards-section {
    padding: 40px 0;
  }

  .home-page-info-wrapper p {
    max-width: 780px;
    font-size: 15px;
  }

  .home-page-cards-wrapper {
    padding-top: 35px;
  }

  .home-page-cards {
    width: 32%;
    margin-bottom: 8px;
  }

  .home-page-cards:nth-child(4) {
    width: 49%;
  }

  .home-page-cards:nth-child(5) {
    width: 49%;
  }

  input.home-signup-input {
    width: 80%;
  }

  .featured-listings-cards-wrapper {
    padding-top: 40px;
  }

  .footer-links {
    order: 1;
  }

  .footer-quick-links {
    order: 1;
  }

  /* .footer-wrapper {
          max-width: 570px;     for aligning logo of top and bottom
  
          margin-right: auto;
      } */

  .copyright p {
    font-size: 15px;
  }

  /* Pages CSS Start */
  .pages-banner-image {
    height: 370px;
  }

  .pages-banner-text h1 {
    font-size: 42px;
    max-width: 380px;
  }

  .after-cards-text-wrapper p {
    max-width: 990px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
  }

  .pages-disclaimer-wrapper p {
    font-size: 15px;
    font-weight: 500;
  }

  .about-card-items p {
    font-size: 15px;
  }

  .about-us-wrapper>p {
    font-size: 15px;
  }

  .terms-conditions-group p {
    font-size: 15px;
  }

  .terms-conditions-group ul li {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .terms-conditions-group {
    padding: 18px;
  }

  /* Pages CSS End */
}

@media screen and (max-width: 767px) {
  .banner-image {
    height: 380px;
  }

  .banner-text h1 {
    font-size: 55px;
  }

  .banner-text h2 {
    font-size: 25px;
    max-width: 490px;
    margin: 5px auto;
  }

  .home-page-info-wrapper p {
    max-width: 600px;
    font-size: 14px;
    font-weight: 500;
  }

  .home-page-cards-text h3 {
    max-width: 170px;
    font-size: 19px;
  }

  .logo-top img {
    width: 75%;
    vertical-align: middle;
  }

  .menu-icon i {
    font-size: 18px;
  }

  input.home-signup-submit-button {
    border-radius: 0px;
  }

  .featured-listings-cards-wrapper {
    padding-top: 35px;
  }

  .what-to-expect-wrapper ul li {
    font-size: 15px;
    font-weight: 500;
  }

  .disclaimer-wrapper p {
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
  }

  .footer-links ul li a,
  .footer-quick-links ul li a {
    font-size: 14px;
    font-weight: 500;
  }

  .copyright p {
    font-size: 14px;
  }

  /* Cookies CSS Start */
  #cookie-bar p {
    width: 100%;
    font-size: 14px;
  }

  #cookie-bar button {
    width: 100%;
    cursor: pointer;
  }

  #cookie-bar a {
    color: #fff;
  }

  #contentcookie {
    padding: 20px 0px;
    width: 90%;
    margin: auto;
  }

  #Cookie {
    cursor: pointer;
  }

  /* Cookies CSS End */

  /* Pages CSS Start */
  .pages-banner-image {
    height: 330px;
  }

  .pages-banner-text h1 {
    font-size: 35px;
    max-width: 350px;
  }

  .pages-intro-wrapper p {
    max-width: 560px;
    font-size: 14px;
  }

  .pages-cards {
    width: 48%;
  }

  .pages-cards-image {
    height: 220px;
  }

  .pages-cards-content h2 {
    font-size: 21px;
  }

  .card-content-group {
    gap: 15px;
  }

  .pages-cards-content h3 {
    font-size: 15px;
  }

  .card-content-group p {
    font-size: 13px;
  }

  .pages-cards-image {
    height: 190px;
  }

  .btn-darkred-block {
    padding: 6px 15px;
    font-size: 14px;
  }

  .pages-link-btn {
    margin-top: 7px;
    padding: 8px 5px;
    margin-left: 10px;
  }

  .pages-cards-content {
    padding: 20px 0;
  }

  .after-cards-text-wrapper p {
    /* max-width: 750px; */
    font-size: 14px;
    padding: 0 10px;
  }

  .pages-contact-us-form-wrapper h3 {
    font-size: 27px;
    max-width: 500px;
    margin: 0 auto;
  }

  .pages-disclaimer-wrapper p {
    font-size: 14px;
  }

  .about-us-wrapper {
    padding-bottom: 35px;
  }

  .about-card-items p {
    font-size: 14px;
  }

  .about-us-wrapper>p {
    font-size: 14px;
  }

  .terms-conditions-group p {
    font-size: 14px;
  }

  .terms-conditions-group ul li {
    margin-bottom: 0px;
    font-size: 14px;
  }

  /* Pages CSS End */
}

@media screen and (max-width: 576px) {
  .wedsite-header-wrapper {
    padding: 7px 0;
  }

  .banner-image {
    height: 300px;
  }

  .banner-text h1 {
    font-size: 40px;
  }

  .banner-text h2 {
    font-size: 20px;
    max-width: 390px;
    margin: 5px auto;
  }

  .home-page-cards-section {
    padding: 30px 0;
  }

  .home-page-info-wrapper p {
    max-width: 450px;
    font-size: 12px;
    padding: 0px;
  }

  .home-page-cards {
    width: 48%;
  }

  .home-page-cards:last-child {
    width: 100%;
  }

  .home-page-cards-text h3 {
    max-width: 280px;
    font-size: 23px;
  }

  .home-signup-section {
    background: linear-gradient(to top, skyblue, #2bb7ee);
  }

  input.home-signup-input {
    width: 90%;
    font-size: 15px;
    padding: 7px;
  }

  input.home-signup-submit-button {
    padding: 10px;
    font-size: 15px;
    margin-left: 0;
    width: 40%;
    margin-top: 7px;
    border: 1px solid #0097d2;
  }

  .what-to-expect-wrapper h3 {
    margin-bottom: 10px;
  }

  .heading-like {
    font-size: 15px;
  }

  section.what-to-expect {
    padding: 30px 0;
  }

  .what-to-expect-wrapper ul li {
    font-size: 13px;
  }

  .disclaimer-wrapper p {
    font-size: 13px;
    padding: 0px 16px;
  }

  .footer-items {
    width: 50%;
  }

  .footer-wrapper {
    justify-content: flex-start;
  }

  .footer-links ul li a,
  .footer-quick-links ul li a {
    font-size: 13px;
    font-weight: 600;
  }

  .home-signup-section {
    padding-bottom: 25px;
  }

  .featured-listings-wrapper h2 {
    font-size: 23px;
  }

  .featured-listings-cards-wrapper {
    padding-top: 25px;
  }

  .copyright p {
    font-size: 13px;
  }

  /* Pages CSS Start */
  .pages-banner-text h1 {
    max-width: 350px;
    font-size: 33px;
  }

  .pages-intro-wrapper p {
    max-width: 480px;
    font-size: 13px;
    font-weight: 500;
  }

  .pages-cards {
    width: 100%;
  }

  .pages-cards-content h2 {
    font-size: 17px;
  }

  .pages-cards-content h3 {
    font-size: 14px;
  }

  .pages-cards-image {
    height: 200px;
  }

  .after-cards-text-wrapper p {
    /* max-width: 470px; */
    font-size: 13px;
    font-weight: 500;
  }

  .pages-contact-us-form-wrapper h3 {
    font-size: 20px;
    max-width: 475px;
    margin: 0 auto;
  }

  .pages-disclaimer-wrapper p {
    font-size: 13px;
  }

  .pages-cards-section {
    padding: 35px 0;
  }

  .after-cards-text {
    padding-bottom: 40px;
  }

  .about-card-items p {
    font-size: 13px;
  }

  .about-us-wrapper>p {
    font-size: 13px;
    padding: 30px 0;
  }

  .terms-conditions-group {
    padding: 15px;
  }

  .terms-conditions-group p {
    font-size: 13px;
  }

  .terms-conditions-group ul li {
    margin-bottom: 1px;
    font-size: 13px;
  }

  /* Pages CSS End */
}

@media screen and (max-width: 480px) {
  .banner-text h1 {
    font-size: 35px;
  }

  .banner-image {
    height: 240px;
  }

  .banner-text h2 {
    font-size: 16px;
    max-width: 300px;
  }

  .home-page-info-wrapper p {
    max-width: 400px;
    padding: 10px;
  }

  .home-page-cards-wrapper {
    padding-top: 30px;
  }

  .home-page-cards {
    width: 100%;
  }

  .home-page-cards:nth-child(4) {
    width: 100%;
  }

  .home-signup-section {
    padding-bottom: 35px;
  }

  .home-signup-wrapper h3 {
    font-size: 16px;
  }

  input.home-signup-input {
    width: 90%;
    font-size: 13px;
    padding: 7px 8px;
  }

  .home-signup-input-wrapper {
    padding-top: 10px;
  }

  input.home-signup-submit-button {
    padding: 10px;
    font-size: 16px;
    margin-left: 0;
    margin-top: 13px;
    width: 44%;
  }

  .featured-listings-cards-wrapper {
    padding-top: 35px;
  }

  .what-to-expect-wrapper h3 {
    margin-bottom: 10px;
    font-size: 17px;
  }

  .what-to-expect-wrapper h4 {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .disclaimer-wrapper p {
    font-size: 12px;
  }

  .footer {
    padding: 35px 0px;
  }

  .footer-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-items {
    width: 70%;
    margin-bottom: 25px;
  }

  .footer-links ul,
  .footer-quick-links ul {
    margin-top: 5px;
  }

  .footer-links ul li a,
  .footer-quick-links ul li a {
    font-size: 12px;
  }

  .featured-listings-wrapper h2 {
    font-size: 21px;
  }

  /* Pages CSS Start */
  .pages-banner-image {
    height: 220px;
  }

  .pages-banner-text h1 {
    font-size: 25px;
    max-width: 280px;
  }

  .pages-intro-wrapper p {
    font-size: 12px;
    padding: 0 10px;
    max-width: 370px;
  }

  .pages-cards {
    margin-bottom: 20px;
  }

  .btn-darkred-block {
    padding: 6px 10px;
    font-size: 14px;
  }

  .pages-link-btn {
    padding: 8px 5px;

  }

  .after-cards-text-wrapper p {
    /* max-width: 360px; */
    font-size: 12px;
  }

  .pages-contact-us-form-wrapper h3 {
    font-size: 17px;
    max-width: 320px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    padding: 7px;
  }

  #contact textarea {
    height: 80px;
  }

  #contact button[type="submit"] {
    padding: 8px;
    font-size: 14px;
    width: 100px;
  }

  fieldset {
    width: 100%;
  }

  fieldset:last-child {
    width: 100%;
  }

  fieldset:nth-child(5) {
    width: 100%;
  }

  .pages-disclaimer-wrapper p {
    font-size: 12px;
  }

  .about-card-items {
    width: 100%;
  }

  .about-card-items p {
    font-size: 12px;
  }

  .about-us-wrapper>p {
    font-size: 12px;
  }

  .terms-conditions-group h3 {
    font-size: 16px;
  }

  /* Pages CSS End */
}